@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: Cafe24Oneprettynight, sans-serif;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 45%;
    border: 1px solid black;
    height: 100%;
    background: linear-gradient(180deg, #FDF0E6 20%, #FDF0E6 80%) fixed;
}

input{
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper {
    padding: 10px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    font-weight: 700;
}

.p_pont {
    font-weight: 700;
}

.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}


/*.timer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.auth div {*/
/*    width: 30%;*/
/*    text-align: center;*/
/*    font-weight: 700;*/
/*    font-size: 15px;*/
/*}*/

/*.auth button {*/
/*    width: 70%;*/
/*}*/

/*.timer div {*/
/*    width: 30%;*/
/*    text-align: center;*/
/*    font-weight: 700;*/
/*    font-size: 15px;*/
/*}*/

/*.timer button {*/
/*    width: 70%;*/
/*}*/

/*.area select {*/
/*    width: 100%;*/
/*    height: 40px;*/
/*}*/

/*.gender {*/
/*    text-align: center;*/
/*}*/

.signUp button {
    font-family: Cafe24Oneprettynight, sans-serif;
    width: 30%;
    cursor:pointer;
}

button{
    cursor: pointer;
    height: 30px;
}

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}