@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Cafe24Oneprettynight';
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
    font-family: 'Cafe24Oneprettynight';
  }
}
.dataTables_info {
    color: inherit; font-size: 35px; font-style: inherit; margin: 25px;
}
.example_paginate{
    font-size: 35px;
}

#example_filter > label > input[type=search]{
    width: 300px;
}
#example_paginate{
    font-size: 50px;
}
#example_previous{
    font-size: 30px;
}
#example_paginate > span{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
#example_next{
    font-size: 30px;
}
label{
    font-size: 20px;
}
a{
    font-size: 25px;

}
.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.titlefont {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/*.container strong{*/
/*  color: #595151;*/
/*  font-family: 'Cafe24Oneprettynight';*/
/*}*/






/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: 'Cafe24Oneprettynight';*/
/*}*/


html{
    font-size: 10px;
}

ul, li{
    list-style: none;

}
li {
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    text-align: center;
    font-size: 1.4rem;
    width: 1000px;
    margin: 50px auto;

}

.board_title {
    margin-bottom: 30px;
    text-align: center;
    background-color: #F4E5DD
    ;
    border-radius: 5px;
}


.board_title strong{
    font-size: 7rem;
    color: #595151;
}

.board_title p {
    margin: 5px;
    font-size: 1.4rem;
    color: #777;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0px;
}

.bt_wrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.5rem;
}

.bt_wrap button:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    padding: 15px 0;
}

.post_list .nums {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px 0;
}


.board_list > div.top > div {
    font-weight: 600;
}

.list_script{
    font-size: 1.5rem;
}

.post_list .num {
    width: 10%;
}
.post_list .title {
    text-align: left;
    width: 50%;
}

.post_list .top .title {
    text-align: center;
}

.post_list .wirter {
    width: 10%;
}
.post_list .wdate {
    width: 20%;
}
.post_list .view {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;

}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: middle;
    line-height: 100%;
    box-sizing: border-box;
}

.board_page a.bt{
    font-size: 1.2rem;
    padding-top: 10px;
    letter-spacing: -1px;
}

.board_page a.num{
    font-size: 1.4rem;
    padding-top: 9px;

}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view dl::before {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 0;
    width: 1px;
    height: 13px;
    background: #ddd;
}
.board_view dl:first-child::before {
    display: none;
}

.board_view .info dt,
.board_view .info dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dt {

}

.board_view .info dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}

/* .board_write .info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */