<!DOCTYPE html>
<html lang="en">
         <!--async로 비동기식으로 불러오기.상호 의존적이거나 연관 관계가 있는 자바스크립트 파일이나 코드들은 "async"를 사용하면 안 됨-->
        <!-- 그리하여 나온것이 defer, 비동기로 자바스크립트 코드를 로딩해서 실행하지만, 순서대로 처리됨   -->
<head>
    <!--  JQuery start -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!--  JQuery end  -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3b0088d8856d6aa79f00c3da218ea95&libraries=services,clusterer,drawing"></script>
    <script src="{{ url_for('static', filename='js/openweather.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timenow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/kakaobook.js') }}"></script>
</script>

    <meta charset="UTF-8">
    <title>Title</title>
<!--부트스트랩 start-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!--부트스트랩 끝-->
</head>

<header>
  <h1>오늘의 카페</h1>
    <div class="timenow">
    <h2><p id="time">00:00:00</p></h2>
    <h2><p id="date">00:00:00</p></h2>
        </div>
    <div class="grid grid--block">
          <div class="item">
    서울 지역의 카페를 검색해보세요!
    </div>

      <div class="item">
   <input type="text" id="searchcafe" placeholder="추천 카테고리 : 위치, 점포명" size="60">
    </div>
  </div>
    <nav>
    <span class="spanmenu">커뮤니티</span>
    <span class="spanmenu">로그인</span>
    <span class="spanmenu">마이 페이지</span>
  </nav>

</header>
<div class="wrap">
<div class="outer">
<main>
  <div class="grid grid--block">
      <div class="item">
          <button id="randombutton">오늘의 랜덤 카페! 클릭!</button>
<!--     위도와 경도 날씨 아이콘 hidden처리 되었음(비교적 깔끔)     -->
         <h2><span id="latitude"hidden="hidden"></span> <span id="longitude" hidden="hidden"></span><img hidden="hidden" id="wicon" src=""></h2>
            <h2>|현재 계신곳: <span id="name"></span>|</h2>
        <h2>| 현재 계신곳의 온도: <span id="temp"></span> |</h2>
      </div>
      </div>


<div class="grid-image">
    <div class="sample_image" button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img alt="" src="/static/image/dailycafepick.png" />

    </div>
    <div class="sample_image" button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
  <img alt="" src="/static/image/dailycafepick.png" />
    </div>
        <div class="sample_image" button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
  <img alt="" src="/static/image/dailycafepick.png" />
    </div>
        <div class="sample_image" button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
  <img alt="" src="/static/image/dailycafepick.png" />
    </div>
</div>

  <div class="grid grid--block">
          <div class="item">
   우리동네 카페는 어디있을까?!
    </div>
      </div>

<div class="cardouter">
<!--카드 붙여넣고싶다면 여기서부터-->
<!--  card text-end start  -->
     <div class="card text-end" style="width: 70rem;">
    <!--card body start-->
  <div class="card-body">
    <h5 class="card-title"></h5>
<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <ul id="category">
        <li id="CE7" data-order="4">
            <span class="category_bg cafe"></span>
            카페
        </li>
    </ul>
<!-- 카카오 API 호출   -->
        <script src="{{ url_for('static', filename='js/kakaomap.js') }}"></script>
</div>
    <b class="maptext" >가고싶은 카페 클릭후 점포명 클릭시 카카오맵으로 이동됩니다. </b><br>
      <b class="maptext">현재 계신 위치와 약간의 오차가 발생할 수 있습니다. </b><br>


<!-- Button trigger modal -->

<!--  [0][1],[0][2],[0][3],[0][4]     [0][1] = 0번째 데이터 1번째 자료
      [1][1],[1][2],[1][3],[1],[4]...
     상호명,전화번호,구주소,도로명주소    -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modaltitle" id="exampleModalLabel">서울시의 카페들을 무작위로 뽑아드려요!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="top">
       <div class="item">
        <p style="margin-top:-12px">
        상호명 : {{result[0][1]}}<br>
        전화번호 : {{result[0][2]}}<br>
        구 주소 : {{result[0][3]}}<br>
        도로명주소 : {{result[0][4]}}<br>
        </p>
         </div>
        <div class="item">오늘은 {{result[0][1]}}에서 커피 한잔 어떠신가요? </div>
      <div class="modal-footer">
      </div>
    </div>

<!--    top div end      -->
  </div>
</div>
  </div>
  </div>
<!--   Modal end   -->

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modaltitle" id="exampleModalLabel2">서울시의 카페들을 무작위로 뽑아드려요!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="top">
               <div class="item">
        <p style="margin-top:-12px">
        상호명 : {{result[1][1]}}<br>
        전화번호 : {{result[1][2]}}<br>
        구 주소 : {{result[1][3]}}<br>
        도로명주소 : {{result[1][4]}}<br>
        </p>
               </div>
        <div class="item">오늘은 {{result[1][1]}}에서 커피 한잔 어떠신가요? </div>
      <div class="modal-footer">
      </div>
    </div>

<!--    top div end      -->
  </div>
</div>
  </div>
  </div>
<!--   Modal end   -->

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modaltitle" id="exampleModalLabel3">서울시의 카페들을 무작위로 뽑아드려요!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="top">
               <div class="item">
        <p style="margin-top:-12px">
        상호명 : {{result[2][1]}}<br>
        전화번호 : {{result[2][2]}}<br>
        구 주소 : {{result[2][3]}}<br>
        도로명주소 : {{result[2][4]}}<br>
        </p>
               </div>
        <div class="item">오늘은 {{result[2][1]}}에서 커피 한잔 어떠신가요? </div>
      <div class="modal-footer">
      </div>
    </div>

<!--    top div end      -->
  </div>
</div>
  </div>
  </div>
<!--   Modal end   -->

<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modaltitle" id="exampleModalLabel4">서울시의 카페들을 무작위로 뽑아드려요!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="top">
               <div class="item">
        <p style="margin-top:-12px">
        상호명 : {{result[3][1]}}<br>
        전화번호 : {{result[3][2]}}<br>
        구 주소 : {{result[3][3]}}<br>
        도로명주소 : {{result[3][4]}}<br>
        </p>
               </div>
        <div class="item">오늘은 {{result[3][1]}}에서 커피 한잔 어떠신가요? </div>
      <div class="modal-footer">
      </div>
    </div>

<!--    top div end      -->
  </div>
</div>
  </div>
  </div>
<!--   Modal end   -->


  </div>
    <!--card body end-->
</div>
    <!--  card text-end end  -->
     </div>

<div class="cardouter">
<!--카드 붙여넣고싶다면 여기서부터-->
<!--  card text-end start  -->
     <div class="card text-end" style="width: 70rem;">
    <!--card body start-->
  <div class="card-body">
    <h5 class="card-title"></h5>
      <input type="text" id="query" style="font-size: 30px" size="70" placeholder="원하는 책 키워드를 입력해주세요. 예: 모던 자바스크립트 Deep Dive">
      <button id="search" style="font-size: 30px">검색</button>
      <div id="bookdiv"></div>
    <b class="maptext">카페에서 읽을만한 책을 찾으시나요? 그렇다면 이쪽에서 검색해보세요!</b><br>
    <b class="maptext">키워드 검색도 가능합니다. 검색시 검색 자료는 무한 스크롤로 계속 출력됩니다.</b><br>
       <b class="maptext" >읽고싶은 책 클릭시 해당책 다음카카오 검색엔진으로 이동됩니다.</b><br>
</div>

</div>
</div>





</main>

    <footer>
      Node10jo 2022 All rights reserved
    </footer>
  </div>
</div>

</html>