<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link href="../static/css/login.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="login">
			<h1>오늘의 카페</h1>
			<form action="/login" method="post">
				<input type="email" name="email" id="user" placeholder="이메일을 입력해주세요" required>
				<input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit">
			</form>
		</div>
	</body>
</html>