<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='main_1.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="signup">
			<h1>회원가입</h1>
			<form action="/register" method="post">
				이름: <input type="text" name="name" id="name" required>
				email: <input type="text" name="email" id="user" required>
				비밀번호: <input type="password" name="password" id="password" required>
				<input type="submit" value="회원가입">
			</form>
		</div>
	</body>
</html>